<div class="container">
    <p>Zewnętrzne elementy naszego otoczenia są równie ważne. 
    Dbałość o każdy szczegół, pozwala nam przywrócić  powierzchnie do stanu pierwotnego. Zabrudzenia wynikające
    z eksploatacji, jak również czynników zewnętrznych, dzięki naszym usługom, nie będa zaburzać wyglądu otoczenia.</p>

    <h4>Wykonujemy kompleksowe usługi:</h4>
    <ul>
        <li>czyszczenie kostki brukowej</li>
        <li>mycie elewacji, dachów, płytek ceramicznych i klinkieru</li>
        <li>mycie ogrodzeń</li>
        <li>doczyszczanie okien</li>
        <li>mycie posadzek ceramicznych</li>
        <li>pranie tapicerki meblowej na gorąco</li>
        <li>czyszczenie i konserwacja tapicerki skórzanej</li>
    </ul>



    <h4>Jesteśmy w stanie usunąć:</h4>
    <ul>
        <li>pleśń i mech</li>
        <li>wieloletnie zabrudzenia atmosferyczne</li>
        <li>tłuste plamy</li>
        <li>ślady po oponach</li>
        <li>plamy z tapicerki</li>
        <li>zacieki i naloty od twardej wody i kamienia</li>
    </ul>

    <p>Mycie parą posiada wiele zalet. Dzięki wysokiej temperaturze skutecznie usuwa wszelkie zabrudzenia. 
    Brak chemii sprawia, że metoda ta jest bezpieczna i nie powoduje reakcji alergicznych. 
    Dużą zaletą tego rozwiązania jest mobilność - klient sam wybiera odpowiadającą mu 
    lokalizację - oszczędza tym samym również czas.
    Dostosowujemy się do potrzeb i wymagań naszych klientów.</p>

    <p>Zamów usługę, dzwoniąc na numer : 530 60 20 20</p>
</div>
