<div class="eko__article container-fluid">
    <table>
      <thead>
        <th>PAKIETY PROMOCYJNE</th>
        <th>HATCHBACK/COUPE</th>
        <th>SEDAN/COMBI</th>
        <th>SUV</th>
      </thead>
      <tbody>
        <tr>
          <td>Pakiet podstawowy (mycie zewnętrzne + odkurznie + kokpit + szyby)</td>
          <td class="multiple-price">70 zł</td>
          <td class="multiple-price">80 zł</td>
          <td class="multiple-price">90 zł</td>
        </tr>
        <tr>
          <td>Mycie zewnętrzne + woskowanie + plastiki + opony + felgi + pakiet środek </td>
          <td class="multiple-price">300 zł</td>
          <td class="multiple-price">330 zł</td>
          <td class="multiple-price">350 zł</td>
        </tr>
        <tr>
          <td>Pakiet środek (odkurzanie + kokpit + szyby + pranie tapicerki boczków i podsutki)</td>
          <td class="multiple-price">240 zł</td>
          <td class="multiple-price">260 zł</td>
          <td class="multiple-price">290 zł</td>
        </tr>
        <tr>
          <td>Pakiet środek (odkurzanie + kokpit + szyby + pranie tapicerki boczków i podsutki)</td>
          <td class="multiple-price">99 zł</td>
          <td class="multiple-price">119 zł</td>
          <td class="multiple-price">129 zł</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <th>PIELĘGNACJA AUTA WEWNĄTRZ</th>
        <th>HATCHBACK/COUPE</th>
        <th>SEDAN/COMBI</th>
        <th>SUV</th>
      </thead>
      <tbody>
        <tr>
          <td>Odkurzanie + mycie kokpitu + szyby</td>
          <td class="multiple-price">50 zł</td>
          <td class="multiple-price">60 zł</td>
          <td class="multiple-price">70 zł</td>
        </tr>
        <tr>
          <td>Pranie tapicerki pianą</td>
          <td class="multiple-price">150 zł</td>
          <td class="multiple-price">150 zł</td>
          <td class="multiple-price">170 zł</td>
        </tr>
        <tr>
          <td>Pranie fotela tapicerowanego</td>
          <td class="multiple-price">50 zł</td>
          <td class="multiple-price">50 zł</td>
          <td class="multiple-price">50 zł</td>
        </tr>
        <tr>
          <td>Pranie fotelika dziecięcego</td>
          <td class="multiple-price">30 zł</td>
          <td class="multiple-price">30 zł</td>
          <td class="multiple-price">30 zł</td>
        </tr>
        <tr>
          <td>Czyszczenie i impregnacja tapicerki skórzanej</td>
          <td class="multiple-price">200 zł</td>
          <td class="multiple-price">200 zł</td>
          <td class="multiple-price">230 zł</td>
        </tr>
        <tr>
          <td>Czyszczenie i impregnacja fotela skórzanego</td>
          <td class="multiple-price">60 zł</td>
          <td class="multiple-price">60 zł</td>
          <td class="multiple-price">60 zł</td>
        </tr>
        <tr>
          <td>Czyszczenie podsutki</td>
          <td class="multiple-price">50 zł</td>
          <td class="multiple-price">50 zł</td>
          <td class="multiple-price">60 zł</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <th>PIELĘGNACJA AUTA Z ZEWNĄTRZ </th>
        <th>HATCHBACK/COUPE</th>
        <th>SEDAN/COMBI</th>
        <th>SUV</th>
      </thead>
      <tbody>
        <tr>
          <td>Mycie zewnętrzne + nabłyszczanie </td>
          <td class="multiple-price">40 zł</td>
          <td class="multiple-price">45 zł</td>
          <td class="multiple-price">50 zł</td>
        </tr>
        <tr>
          <td>Mycie zewnętrzne + woskowanie</td>
          <td class="multiple-price">55 zł</td>
          <td class="multiple-price">60 zł</td>
          <td class="multiple-price">65 zł</td>
        </tr>
        <tr>
          <td>Naczernienie plastikowych elementów zewnętrznych</td>
          <td class="multiple-price">10 zł</td>
          <td class="multiple-price">10 zł</td>
          <td class="multiple-price">10 zł</td>
        </tr>
        <tr>
          <td>Naczernienie opon</td>
          <td class="multiple-price">10 zł</td>
          <td class="multiple-price">10 zł</td>
          <td class="multiple-price">10 zł</td>
        </tr>
        <tr>
          <td>Nabłyszczanie felg</td>
          <td class="multiple-price">10 zł</td>
          <td class="multiple-price">10 zł</td>
          <td class="multiple-price">10 zł</td>
        </tr>
        <tr>
          <td>Mycie zewnętrzne+woskowanie+plastiki+opony+felgi </td>
          <td class="multiple-price">70 zł</td>
          <td class="multiple-price">75 zł</td>
          <td class="multiple-price">80 zł</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <th>PRANIE WYKŁADZIN I DYWANÓW</th>
        <th>CENA:</th>
      </thead>
      <tbody>
        <tr>
          <td>Pranie dywanów syntetycznych/wykładzin </td>
          <td class="one-price">9 zł/m2</td>
        </tr>
        <tr>
          <td>Pranie dywanów shaggy</td>
          <td class="one-price">12 zł/m2</td>
        </tr>
        <tr>
          <td>Pranie dywanów wełnianych</td>
          <td class="one-price">10 zł/m2</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <th>PRANIE MEBLI TAPICEROWANYCH</th>
        <th>CENA:</th>
      </thead>
      <tbody>
        <tr>
          <td>Krzesło bez oparcia</td>
          <td class="one-price">7 zł</td>
        </tr>
        <tr>
          <td>Krzesło z oparciem</td>
          <td class="one-price">10 zł</td>
        </tr>
        <tr>
          <td>Narożnik</td>
          <td class="one-price">140 - 180 zł</td>
        </tr>
        <tr>
          <td>Sofa, kanapa</td>
          <td class="one-price">100 - 120 zł</td>
        </tr>
        <tr>
          <td>Wersalka</td>
          <td class="one-price">80 - 100 zł</td>
        </tr>
        <tr>
          <td>Fotel</td>
          <td class="one-price">30 - 50 zł</td>
        </tr>
        <tr>
          <td>Pufa</td>
          <td class="one-price">15 - 30 zł</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <th>CZYSZCZENIE I IMPREGNACJA MEBLI SKÓRZANYCH</th>
        <th>CENA:</th>
      </thead>
      <tbody>
        <tr>
          <td>Narożnik</td>
          <td class="one-price">250 - 300 zł</td>
        </tr>
        <tr>
          <td>Sofa, kanapa</td>
          <td class="one-price">150 - 200 zł</td>
        </tr>
        <tr>
          <td>Fotel</td>
          <td class="one-price">60 - 80 zł</td>
        </tr>
        <tr>
          <td>Krzesło</td>
          <td class="one-price">20 - 30 zł</td>
        </tr>
        <tr>
          <td>Pufa</td>
          <td class="one-price">30 - 50 zł</td>
        </tr>
      </tbody>
    </table>
</div>