<div class="container">
	<p>Nasza firma posiada kwalifikacje we współpracy z placówkami typu szkoły, przedszkola, żłobki, uniwersytety i ośrodki edukacyjne. 
	Dzięki zastosowaniu odpowiednich metod czyszczeniśa i najwyższej klasy ekologicznego sprzętu, przeprowadzane przez nas usługi 
	nie wymagają wykorzystania detergentów, dzięki czemu są bezpieczne dla otoczenia osób najmłodszych oraz wrażliwych na 
	środki chemiczne.
	Wykorzystanie myjni parowych, ozonatorów oraz wysokiej jakości odkurzaczy gwarantuje świadczenie skutecznych usług przy jednocześnie krótkim czasie realizacji oraz redukcji zanieczyszczeń powstających w trakcie wykonywania pracy.</p>

	<h4>Wykonujemy:</h4>
	<ul>
		<li>pranie dywanów</li>
		<li>czyszczenie i dezynfekcję sal</li>
		<li>sprzątanie klas</li>
		<li>mycie okien i witryn</li>
		<li>czyszczenie i dezynfekcję stołówek</li>
		<li>mycie i konserwację parkietów</li>
		<li>dezynfekcję i sprzątanie sal gimnastycznych, siłowni, szatni</li>
		<li>usuwanie zapachów ze wszelkiego rodzaju pomieszczeniach</li>
	</ul>

	<p>Mycie parą posiada wiele zalet. Dzięki wysokiej temperaturze skutecznie usuwa wszelkie zabrudzenia. 
	Brak chemii sprawia, że metoda ta jest bezpieczna i nie powoduje reakcji alergicznych. 
	Dużą zaletą tego rozwiązania jest mobilność - klient sam wybiera odpowiadającą mu 
	lokalizację - oszczędza tym samym również czas.
	Dostosowujemy się do potrzeb i wymagań naszych klientów.</p>

	<p>Zamów usługę, dzwoniąc na numer : 530 60 20 20</p>
</div>
