.eko__carousel{
  position: relative;
  height: 70vh;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  .carousel, 
  .carousel-inner, 
  .carousel-inner .item, img {
      height: 100%;
      
  }
  &--img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .item:nth-child(1) {
    background: #74C390;
    }

    .item:nth-child(2) {
        background: #51BCE8;
    }

    .item:nth-child(3) {
        background: #E46653;
    }
}

.eko__title{
  position: absolute;
  text-transform: uppercase;
  width: 90%;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}