$theme-color-blue: #172D51;
.container {
    margin: 0;
}

.eko__footer {
    position: relative;
    bottom: 0;
    color: white;
    background: $theme-color-blue;
    width: 100vw;
    margin-top: 200px;
    .item {
        margin: 30px 0;
    }
    &-wrapper,
    &-adress,
    &-logo {
        width: 100%;
        font-size: 20px;
    }
    &-wrapper {
        text-align: center;
        svg {
            max-height: 10vh;
        }
    }
    &-adress {
        text-align: right;
    }
    &-logo {
        text-align: left;
        svg{
            height: 30vh;
        }
    }
    p {
        margin: 0;
    }
    @media screen and (max-width: 765px) {
        &-wrapper,
        &-adress,
        &-logo {
            font-size: 20px;
        }
        &-wrapper {
            width: 100%;
            text-align: left;
            .item {
                margin: 30px 0;
            }
        }
        &-adress {
            text-align: left;
        }
        &-logo {
            text-align: center;
            top: -40px;
            svg{
                transform: scale(1.5);
            }
        }
    }
}

.eko__content-bg {
    &--color1 {
        fill: #8cc63f;
    }
    &--color2 {
        fill: $theme-color-blue;
    }
    &-wrapper {
        position: absolute;
        margin: 0;
        height: 150%;
        overflow: hidden;
        z-index: -1;
        bottom: 180px;
        left: -10%;
        width: 110%;
        svg {
            position: ralative;
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 765px) {
            height: 100%;
            bottom: 380px;
        }
    }
}