<div class="container">
    <p>Komunikacja i transport ze względu na swoją specyfikę, podlegają wysokiemu ryzyku zabrudzeń.  Różne typy i pochodzenie 
    zanieczyszczeń, duża eksploatacja  są często powodem dla, których utrzymanie czystości może stanowić nie lada wyzwanie.
    Mobilna myjnie parowa zdaje się być odpowiedzią na te problemy. Szybko, ekologicznie i skutecznie usuwamy zabrudznia. 
    Wysoka temperatura dodatkowo dezynfekuje powierzcznie, a brak chemii jest gwarancją bezpieczeństwa użytkowania.</p>
                                                    
    <h4>Oferujemy:</h4>
    <ul>
        <li>mycie nadwozia</li>
        <li>pranie tapicerki, czyszczenie i konserwacja.</li>
        <li>dezynfekcja  tapicerek</li>
        <li>usuwanie przykrych zapachów</li>
        <li>dezynfekcja wlotów powietrza i klimatyzacji</li>
        <li>mycie silnika</li>
        <li>mycie podwozia</li>
    </ul>

    <p>Mycie parą posiada wiele zalet. Dzięki wysokiej temperaturze skutecznie usuwa wszelkie zabrudzenia. 
    Brak chemii sprawia, że metoda ta jest bezpieczna i nie powoduje reakcji alergicznych. 
    Dużą zaletą tego rozwiązania jest mobilność - klient sam wybiera odpowiadającą mu 
    lokalizację - oszczędza tym samym również czas.
    Dostosowujemy się do potrzeb i wymagań naszych klientów.</p>

    <p>Zamów usługę, dzwoniąc na numer : 530 60 20 20</p>
</div>