<div class="container">
    <p>Sucha para charakteryzuje się wysoką temperaturą pracy, a co za tym idzie czyści i jednocześnie dezynfekuje 
    każdą powierzchnię. Wykorzystywane dodatkowo generatory ozonu dokonują dogłębnej sanityzacji 
    pomieszczeń poprzez proces utleniania. Para oraz ozon skutecznie usuwają bakterie, grzyby 
    i drobnoustroje oraz zwalczają wszelkie niepożądane zapachy.</p>

    <h4>Przeprowadzamy dezynfekcje m. in.:</h4>
    <ul>
        <li>pomieszczeń magazynowych i chłodni artykułów spożywczych</li>
        <li>przestrzeni załadunkowych pojazdów transportujących</li>
        <li>pomieszczeń sanitarnych i socjalnych</li>
        <li>placówek medycznych i naukowych</li>
        <li>pomieszczeń gastronomicznych i hal produkcyjnych</li>
        <li>wnętrz pojazdów i pomieszczeń </li>
    </ul>

    <p>Mycie parą posiada wiele zalet. Dzięki wysokiej temperaturze skutecznie usuwa wszelkie zabrudzenia. 
    Brak chemii sprawia, że metoda ta jest bezpieczna i nie powoduje reakcji alergicznych. 
    Dużą zaletą tego rozwiązania jest mobilność - klient sam wybiera odpowiadającą mu 
    lokalizację - oszczędza tym samym również czas.
    Dostosowujemy się do potrzeb i wymagań naszych klientów.</p>

    <p>Zamów usługę, dzwoniąc na numer : 530 60 20 20</p>
</div>
