<div class="container">
    <p>Branża hotelarska i gastronomiczna jest szczególnie wymagająca.
    Duży przepływ gości, specyficzne zabrudzenia, wysoka eksploatacja są przyczyną wielu uszkodzeń i zabrudzeń. 
    Charakterystyka usług obliguje jednak do utrzymania czystości na najwyższym poziomie.</p>

    <h4>Idąc naprzeciw oczekiwaniom, proponujemy kompleksowe usługi:</h4>
    <ul>
        <li>usuwanie trudnych plam</li>
        <li>pranie tapicerki, czyszczenie i konserwacja</li>
        <li>dezynfekcja  tapicerek</li>
        <li>usuwanie przykrych zapachów</li>
        <li>ogólne sprzątanie</li>
        <li>mycie okien</li>
        <li>sanityzację</li>
        <li>dezynfekcję</li>
        <li>czyszczenie łazienek (kafle, fugi)</li>
        <li>usuwanie osadów</li>
        <li>dezynfekcja wlotów powietrza i klimatyzacji</li>
    </ul>

    <p>Mycie parą posiada wiele zalet. Dzięki wysokiej temperaturze skutecznie usuwa wszelkie zabrudzenia. 
    Brak chemii sprawia, że metoda ta jest bezpieczna i nie powoduje reakcji alergicznych. 
    Dużą zaletą tego rozwiązania jest mobilność - klient sam wybiera odpowiadającą mu 
    lokalizację - oszczędza tym samym również czas.
    Dostosowujemy się do potrzeb i wymagań naszych klientów.</p>

    <p>Zamów usługę, dzwoniąc na numer : 530 60 20 20</p>
</div>
