<div class="container">
    <p>Dom, który jest najważniejszym miejscem, zasługuje na szczególną pielęgnację.
    Nasze usługi w zakresie czyszczenia i dezynfeksji, pozwalają cieszyć się czystością, 
    bez obaw o bezpieczeństwo.</p> 

    <p>Ekologiczna i pozbawiona chemii metoda pozwala nam dostarczać usług bez obaw o reakcje alergiczne.</p>


    <h4>Zapraszamy do skorzystania z naszej oferty:</h4>
    <ul>
        <li>ogólne sprzątanie</li>
        <li>mycie okien</li>
        <li>usuwanie nieprzyjemnych zapachów</li>
        <li>pranie dywanów</li>
        <li>pranie i zabezpieczanie tapicerek materiałowych</li>
        <li>sanityzację</li>
        <li>dezynfekcję</li>
        <li>czyszczenie łazienek (kafle, fugi)</li>
    </ul>

    <p>Mycie parą posiada wiele zalet. Dzięki wysokiej temperaturze skutecznie usuwa wszelkie zabrudzenia. 
    Brak chemii sprawia, że metoda ta jest bezpieczna i nie powoduje reakcji alergicznych. 
    Dużą zaletą tego rozwiązania jest mobilność - klient sam wybiera odpowiadającą mu 
    lokalizację - oszczędza tym samym również czas.
    Dostosowujemy się do potrzeb i wymagań naszych klientów.</p>

    <p>Zamów usługę, dzwoniąc na numer : 530 60 20 20</p>
</div>
