<div class="container">
<p>Biura powinny być nie tylko wizytówka dla klienta, ale również stwarzać przyjazne warunki do pracy. Dzięki naszej technologii jesteśmy 
w stanie szybko i kompleksowo zadbać o czystość i estetykę wnętrz.
Szybko i ekologicznie usuwamy zabrudzenia. Stosowanie pary wodnej sprawia, że długotrwałe przebywanie we wnętrzach nie będzie 
stanowiło problemu, nie ma ma bowiem ryzyka wystąpienia alergii.</p>

<h4>W naszej ofercie znajdują się:</h4>
<ul>
    <li>ogólne sprzątanie</li>
    <li>mycie okien</li>
    <li>usuwanie nieprzyjemnych zapachów</li>
    <li>pranie dywanów</li>
    <li>pranie i zabezpieczanie tapicerek materiałowych</li>
    <li>sanityzację</li>
    <li>dezynfekcję</li>
    <li>czyszczenie łazienek (kafle, fugi)</li>
</ul>

<p>Mycie parą posiada wiele zalet. Dzięki wysokiej temperaturze skutecznie usuwa wszelkie zabrudzenia. 
Brak chemii sprawia, że metoda ta jest bezpieczna i nie powoduje reakcji alergicznych. 
Dużą zaletą tego rozwiązania jest mobilność - klient sam wybiera odpowiadającą mu 
lokalizację - oszczędza tym samym również czas.
Dostosowujemy się do potrzeb i wymagań naszych klientów.</p>

<p>Zamów usługę, dzwoniąc na numer : 530 60 20 20</p>
</div>
