<div class="container">
    <p>Samochód jest pojazdem, w którym spędzamy sporo czasu. Warto, by zadbać nie tylko o jego mechanikę, ale również, estetykę i czystość. Mycie parowe jest zupełnie bezpieczne dla Państwa pojazdu. Dzięki naszej technologii, jesteśmy w stanie zadbać kompleksowo
        o wszystkie elementy samochodu - zarówno karoserię jak i elementy wnętrza.</p>
    <h4>Oferujemy:</h4>
    <ul>
        <li>mycie nadwozia</li>
        <li>pranie tapicerki, czyszczenie i konserwacja skór</li>
        <li>renowacja tapicerki</li>
        <li>usuwanie przykrych zapachów</li>
        <li>dezynfekcja wlotów powietrza i klimatyzacji</li>
        <li>mycie silnika</li>
        <li>mycie podwozia</li>
        <li>utrzymanie w czystości aut flotowych</li>
        <li>kompleksowe przygotowanie aut do sprzedaży</li>
        <li>dokładnie czyszczenie miejsc trudno dostępnych</li>
    </ul>

    <p>Myjnia Parowa to rewolucyjna i ekologiczna metoda mycia samochodów wykorzystująca strumień pary pod wysokim ciśnieniem. Jest całkowicie bezpieczna dla karoserii, dodatkowo mycie parą doskonale dezynfekuje i odświeża wnętrze naszego auta. Mycie parą jest
        sposobem na uniknięcie chemicznych odpadów.</p>
</div>
