<div class="container">
	<p>Ofertę kierujemy do osób odpowiedzialnych w przedsiębiorstwach za utrzymnie ruchu a także szeroko pojętej higieny we 
	wnętrzach jak i na zewnątrz obiektów przemysłowych.</p>


	<h4>Oferujemy:</h4>
	<ul>
		<li>czyszczenie maszyn i urządzeń bez demontażu</li>
		<li>doczyszczanie posadzek, ciągów komunikacyjnych</li>
		<li>mycie wszelkich powierzchni ścian, bram, ogrodzeń</li>
		<li>czyszczenie kostki brukowej, dróg dojazdowych</li>
		<li>myjemy maszyny i sprzęty budowlane</li>
		<li>smary, tłuszcze, oleje</li>
		<li>farby, lakiery oraz inne powłoki</li>
		<li>kleje termo i chemoutwardzalne</li>
		<li>zabrudzenia budowlane po cemencie i betonie</li>
		<li>rdzę i inne naloty</li>
		<li>mech, ślady opon i plamy po wyciekach oleju</li>
		<li>usuwanie sadzy i osadów</li>
		<li>dezynfekcja</li>
	</ul>

	<p>Mycie parą posiada wiele zalet. Dzięki wysokiej temperaturze skutecznie usuwa wszelkie zabrudzenia. 
	Brak chemii sprawia, że metoda ta jest bezpieczna i nie powoduje reakcji alergicznych. 
	Dużą zaletą tego rozwiązania jest mobilność - klient sam wybiera odpowiadającą mu 
	lokalizację - oszczędza tym samym również czas.
	Dostosowujemy się do potrzeb i wymagań naszych klientów.</p>

	<p>Zamów usługę, dzwoniąc na numer : 530 60 20 20</p>
</div>
