<div class="container">
	<p>Na terenie Nowego Dworu Mazowieckiego, wprowadziliśmy nową usługę, umożliwiającą samodzielne, szybkie,  tanie i skuteczne odświeżenie wnętrza swojego auta. W niewielkiej cenie można wyczyścić i zdezynfekować tapicerki, fotele i elementy obicia.</p>
    <div class="eko__article-centered bg-blue">
        </br>
        <h4>Skorzystaj z naszej oferty:</h4>
        </br>
        <p>SAMOOBSŁUGOWY</p>
        <p>ODKURZACZ PAROWY</p>
        <p>JEDYNE 5 ZŁ</p>
        </br>
        <p>Myjnia bezdotykowa</p>
        <p>ul. Przytorowa 4</p>
        <p>Nowy Dwór Mazowiecki</p>
    </div>
	<p>Za naszym pośrednictwem możecie Państwo zakupić samoobsługowy odkurzacz parowy do prania tapicerki. 
    Taka inwestycja jest dobrym rozwiązaniem dla właścicieli stacji benzynowych, myjni, obiektów użyteczności publicznej, posiadaczy terenu do
    zagospodarowania.
    Ta dodatkowa możliwość sprzyjać będzie podnoszeniu atrakcyjności miejsca!
    Samoobsługowy odkurzacz parowy umożliwia samodzielne, szybkie i skuteczne wyczyszczenie wnętrza samochodu.
    Para wodna o wysokiej temperaturze usuwa wszelkie zabrudzenia, nieprzyjemne zapachy, by w przeciągu chwili odświeżyć wnętrze pojazdu.</p>

	<p>Szczegóły oferty:
    530 60 20 20 
    lub
    pranie @ekowash.pl
    </p>
</div>
