<nav class="eko__menu" ng-class="(isOpenMenu) ? 'open' : ''" ng-init="isActive()">
    <div class="menu-burger-wrapper"><button ng-click="toggleMenu()" class="menu-burger" ng-class="(isOpenMenu) ? 'active' : ''"><span></span></button></div>
    <div class="eko__menu-links">
        <a ui-sref-active="active" ui-sref="home" ng-click="closeMenu()">Home</a>
        <a ui-sref-active="active" ui-sref="about" ng-click="closeMenu()">O nas</a>
        <a ui-sref-active="active" ui-sref="prices" ng-click="closeMenu()">Cennik</a>
        <a href="#contact">Kontakt</a>
    </div>
</nav>