<div class="eko__article bg-blue container-fluid">

    <h1>O nas</h1>

    <p>Ekowash jest firmą, która już od 2000-ego roku funkcjonuje na polskim rynku. Sukcesy w branży myjni bezdotykowych pozwoliłi nam rozwinąć działalność o nową galąź- usługę mobilnych myjni parowych. Wychodząc naprzeciw oczekiwaniom klienta proponujemy
        usłegę odpowiadającą współczesnym oczekiwaniom. Szybkie, ekologiczne i mobilne usługi pozwalają sprostać potrzebom najbardziej wymagających klientów.Kompleksowa usługa pozwala zapokoić wszelie oczekiwania związana z czyszczeniem i dezynfekcją
        najróżniejszych powierzchni. Zarówno dom, samochód jak i przestrzenie publiczne znajdą u nas odpowiedni wachlarz usług. Innowacyjność poparta długoletnim doświadczniem sprawia, że można nam zaufać.</p>

    <p>Nasze usługi obejmują zlecenia zarówno dla klintów prywatnych, firm jak również instytucji. W zakres naszych kompetencji wchodzi czyszczenie domów, samochodów osobowych, biur, szkół, przedszkoli, punktów usługowych itp. Szczegółowe informacje znajdą
        Państwo na stronie internetowej.</p>


    <p>W naszej ofercie znajdą Państwo również zlecenia specjalistyczne, m.in. : szpitale, siłownie, zakłady fryzjerskie, autobusy, komisy, floty samochodowe, samochody ciężarowe, TIR, PKS, PKP, warsztaty, karetki łodzie, statki, znaki drogowe, przystanki
        autobusowe kościoły, kancelarie prawne i notarialne, spółdzielnie mieszkaniowe przystanki, wiaty, hale produkcyjne itp. ...</p>


    <div class="eko__article-centered">
        <p>Szczegółowych informacji udzielamy pod numerem telefonu </p>
        <p><b>530-20-60-60</b></p>
        <p>lub drogą mailową : pranie@ekowash.pl</p>
    </div>

    <slick class="slider slider-for" infinite="true" slides-to-show="1" slides-to-scroll="1">
        <div><img src="assets/samochod.jpg"/></div>
    </slick>
</div>