<div class="eko__carousel">
  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item" ng-class="($index==0) ? 'active' : ''" ng-repeat="photo in photos">
          <div class="eko__carousel--img" style="background-image: url({{photo.src}})" alt="{{photo.alt}}" />
        </div>
    </div>
    <ol class="carousel-indicators">
        <li ng-repeat="photo in photos" data-target="#carousel" data-slide-to="{{$index}}" ng-class="($index==0) ? 'active' : ''"></li>
    </ol>
  </div>
  
  <div class="eko__title"> 
    <h1>Ekowash - mobilne myjnie parowe.</h1>
  </div>
</div>
